<h2>Reactive Form Group</h2>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label> First Name:<input type="text" formControlName="firstName"></label>
  <label> Last Name:<input type="text"  formControlName="lastName"></label>

  <div formGroupName="address">
    <h3>Address</h3>

    <label>
      Street:
      <input type="text"  formControlName="street">
    </label>

    <label>
      City:
      <input type="text"  formControlName="city">
    </label>
    
    <label>
      State:
      <input type="text"  formControlName="state">
    </label>
  </div>

  <p>
    Form Status : {{profileForm.status}}
  </p>

  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>


<p>
  <button (click)="updateProfile()">Update Profile</button>
</p>